{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "数据收集" %}{% endblock %}

{% block navigation %}
{% get_current_language as LANGUAGE_CODE %}
<nav style="display: block; float: right;">
  {% if 'en' in LANGUAGE_CODE %}
  <a href="/illusion/">简体中文</a>
  <a href="/en/illusion/"><b>English</b></a>
  {% elif 'zh' in LANGUAGE_CODE %}
  <a href="/illusion/"><b>简体中文</b></a>
  <a href="/en/illusion/">English</a>
  {% endif %}
</nav>
{% endblock %}

{% block content %}
<h1>{% trans "数据收集" %}</h1>

{% blocktrans %}
您好！我们是一个研究计算机视觉的团队，主要研究内容是空间几何认知。这是一份关于认
知错觉的测试， 谢谢您抽出宝贵的时间参与到我们的测试中来， 因为您的每一个答案将作
为一个很重要的数据，并且用来验证我们的理论， 因此我们希望您能如实的做出填写您的
答案，其中涉及到您个人隐私的问题，我们将为您保密。再次谢谢您的参与！
{% endblocktrans %}

<form method="GET" action="registration/">
  <button style="font-size: 20px;
    margin-left: 300px;
    margin-top: 200px;">{% trans "让我们开始吧" %}</button>
</form>

{% endblock %}
